//MY THEME COLORS
$color-teal: #3bb77e;
$color-navy: #253d4e;
$color-white: #ffffff;
$color-gray-lightest: #7e7e7e;
$color-yellow: #fdc040;
$color-gray-light: #b6b6b6;
$color-gray-extra-light: #ececec;
$color-gray-medium: #adadad;
$color-mint: #bce3c9;
$color-black: #000000;
$color-mint-light: #def9ec;
$color-gray-off-white: #f2f3f4;
$color-gray: #838383;
$color-black-transparent-15: #00000026;
$color-olive: #81b13d;
$color-white-transparent-0-2: rgba(255, 255, 255, 0.002);
$color-sky-blue: #67bcee;
$color-silver: #cacaca;
$color-salmon: #f59758;
$color-pink: #f74b81;
// custom variables
$shadow:0px 2px 3px 1px $color-gray-extra-light;




