@use "./custom" as*;
//IMPORT THE COMPONENTS
@use "./components/mixins";
@use "./components/animations";
@use "./components/typography";
@use "./components/buttons";

//IMPORT THE SECTIONS
@use "./sections/navbar";
@use "./sections/lannding";
@use "./sections/products";
@use "./sections/subscribe";
@use "./sections/footer";
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:$text-color;
}