@use "../variables" as *;
@use "../components/mixins" as mix;
.landing {
  .card {
    height: 500px;
    @extend %common;
    h2 {
      position: relative;
    }
    h2::after {
      content: "";
      width: 30%;
      height: 2px;
      background-color: $color-mint;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    i {
      color: $color-mint;
    }
  }
  .banner-content {
    border-radius: 2rem;
    background-image: url(/assets/imgs/Rectangle.png);
    background-size: contain;
    padding: 91px 75px 100px 75px;
    p {
      color: $color-gray;
    }
    h1 {
      font-size: 4rem;
      // line-height: 1;
    }
    @media (max-width: 768px) {
      h1 {
        font-size: 2.5rem;
      }
      @media (max-width: 576px) {
        h1 {
          font-size: 2rem;
        }
      }
    }

    .subscribe-wrapper {
      background-color: white;
      overflow: hidden;
      display: flex;
      align-items: center;

      input {
        flex-grow: 1;

        border: none;
        border-radius: 0;
        outline: none;

        &::placeholder {
          color: #999;
        }
      }

      i {
        color: $color-teal;
        font-size: 1.2rem;
      }

      .subscribe-btn {
        background-color: $color-teal;
        border: none;
        padding: 0 1.5rem;
        &:hover {
          background-color: darken($color-teal, 5%);
        }
      }
    }
  }
}
