@use "../variables" as *;
@use "../components/mixins";

$colors: (
  "hot": $color-pink,
  "sale": $color-sky-blue,
  "new": $color-teal,
  "discount": $color-salmon,
);

.products {
  .left-card {
    height: 470px;
    @extend %common;
    h2 {
      position: relative;
    }
    h2::after {
      content: "";
      width: 30%;
      height: 2px;
      background-color: $color-mint;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    h6 {
      color: $color-teal;
    }
    p {
      color: $color-gray-lightest;
    }
  }
  .products__popular {
    .product__card {
      border-radius: 1.5rem;
      overflow: hidden;
      margin-bottom: 5px;
      h5{
        font-size: 1rem;
      }
      .product__tagwrapper {
        width: 45%;
        text-align: center;
        .product__tag {
          border-bottom-right-radius: 2rem;
        }
        @each $key, $value in $colors {
          .product-#{$key} {
            background-color: $value;
          }
        }
      }

      .product__price {
        p {
          text-decoration: line-through;
        }
      }
    }
  }
}
